{% extends "base.html" %}
{% block content %}
<div class="container text-center">
<div class="card" style="width: 18rem;">
  <img class="card-img-top text-center" style="height:100px;border:2px solid blue;border-radius:10%;width:18.5rem;" src="http://lorempixel.com/400/200/sports/1/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}</h5>
    <p class="card-text">I like weirdos</p>
    <a href="#" class="btn btn-primary">Abonnee</a>
  </div>
</div>
</div>
{% endblock %}
