{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-4">
<ul class="list-group">
  {% for lesson in lessons %}
    <li class="list-group-item"><a href="{% url 'courses:tutos_detail' palier_slug=palier.palier_slug module_slug=module.module_slug course_slug=course.course_slug tutorial_slug=lesson.tutorial_slug %}" > {{lesson.title}}</a> </li>
  {% endfor %}
</ul>
</div>
<div class="col-8">
{% if lesson.quiz %}
  {% include "courses/quiz.html" %}
  {% else %}
  {{ lesson.title }}<br>
  {{ lesson.video.embed_code|safe }}

{% endif %}
</div>
</div>


{% endblock %}
