{% extends "base.html" %}
{% block content %}
  <div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" style="max-height:400px;" src="http://lorempixel.com/output/sports-q-g-360-205-8.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="max-height:400px;" src="http://lorempixel.com/output/sports-q-g-360-205-8.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"  style="max-height:400px;" src="http://lorempixel.com/output/sports-q-g-360-205-8.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>



  <div class="container-fluid">
    <div class="container">
      <div class="row">
      {% for palier in paliers %}

        <div class="col-sm-6">
          <div class="card" style="margin:5px;">
            <div class="card-body text-center">
              <h3 class="card-title"><a href="{% url 'courses:palier_detail' palier_slug=palier.palier_slug %}">{{palier.title}}</a></h3>
              <hr>
          {% for module in palier.related_module.all|slice:":4" %}
          <p class="card-text"><a href="{% url 'courses:module_detail' palier_slug=palier.palier_slug module_slug=module.module_slug %}" >{{module.title }}</a></p>
          {% endfor %}
            <hr>
          {% if user.is_authenticated %}
              {% if palier.enrolled == False %}
              <a  href="{% url 'accounts:enroll_student' username=user.username palier_slug=palier.palier_slug %}" class="btn btn-primary">Enroll</a>
              {% else %}
              <a  href="{% url 'courses:palier_detail' palier_slug=palier.palier_slug %}" class="btn btn-primary">Start Course</a>
              {% endif %}
          {% else %}
          <a href="{%url 'accounts:login'%} ">Savoir Plus</a>

          {% endif %}
        </div>
      </div>
    </div>

      {% endfor %}
      </div>
</div>
</div>

{% endblock %}
