{% extends "base.html" %}
{% block content %}

  <div class="container-fluid">
    <div class="container">
      <div class="row">
      {% for palier in paliers %}

        <div class="col-sm-6">
          <div class="card" style="margin:5px;">
            <div class="card-body text-center">
              <h3 class="card-title"><a href="{% url 'courses:palier_detail' palier_slug=palier.palier_slug %}">{{palier.title}}</a></h3>
              <hr>
          {% for module in palier.related_module.all|slice:":4" %}
          <p class="card-text"><a href="{% url 'courses:module_detail' palier_slug=palier.palier_slug module_slug=module.module_slug %}" >{{module.title }}</a></p>
          {% endfor %}
            <hr>
          {% if user.is_authenticated %}
          <a href="{% url 'courses:palier_detail' palier_slug=palier.palier_slug %}" class="btn btn-primary">Savoir Plus</a>
          {% else %}
          <a href="{%url 'accounts:login'%} ">Savoir Plus</a>
          {% endif %}
        </div>
      </div>
    </div>

      {% endfor %}
      </div>
</div>
</div>

{% endblock %}
